@using SearchIt.Utility
@model SearchIt.Models.ViewModels.ApplyUserViewModel

@{
    ViewData["Title"] = "User Profile";
}

<div class="container">
    <div class="main-body">
        <label id="ApplyId" hidden>@Model.ApplyForId</label>
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            @if (Model.User.ImageUrl != "" && Model.User.ImageUrl != null)
                            {
                                <img src="@Model.User.ImageUrl" alt="Admin" class="rounded-circle" width="150">

                            }
                            else
                            {
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">

                            }
                            <div class="mt-3">
                                <h4>@Model.User.FullName</h4>
                                <p class="text-secondary mb-1">@Model.User.Highest_Qualification</p>
                                <p class="text-muted font-size-sm">@Model.User.City, @Model.User.State, @Model.User.Country</p>
                                <button class="btn btn-primary">BookMark</button>
                                @*<button class="btn btn-outline-primary">Message</button>*@
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.User.FullName
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Dateof Birth</h6>
                            </div>
                            <div class="col-sm-3 text-secondary">
                                @Model.User.Dob
                            </div>
                            <h6 class="mb-0 col-sm-3">Gender</h6>
                            <div class="col-sm-3 text-secondary">
                                @Model.User.Gender
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.User.UserName
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Mobile </h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.User.PhoneNumber
                            </div>
                        </div>
                        <hr>


                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Highest Qualification </h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.User.Highest_Qualification
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Experience </h6>
                            </div>
                            <div class="col-sm-3 text-secondary">
                                @Model.User.Experience
                            </div>
                            <div class="col-sm-3">
                                <h6 class="mb-0">Last Position</h6>
                            </div>
                            <div class="col-sm-3 text-secondary">
                                @Model.User.LastPosition
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Area of Interest</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.User.AreaOfInterest
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Preferred Location</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.User.PreferredLocation
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.User.StreetAddress
                            </div>
                            <div class="col-sm-3">
                                <h6 class="mb-0"></h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.User.City
                            </div>
                            <div class="col-sm-3">
                                <h6 class="mb-0"></h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.User.State
                            </div>
                            <div class="col-sm-3">
                                <h6 class="mb-0"></h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.User.Country - @Model.User.PostalCode
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <a class="btn btn-info " target="__blank">View CV</a>
                                @if(Model.ApplyStatus == Utility.App_JobOffer || Model.ApplyStatus == Utility.App_JobAccept)
                                {
                                    
                                }
                                else
                                {
                                <a class="btn btn-warning" onclick='SortListed("@Model.ApplyForId")' >Sort List</a>
                                    
                                }
                                <a class="btn btn-secondary" asp-controller="Offers" asp-action="SendOffer" asp-route-id="@Model.ApplyForId">Send Offer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts{
<script>


    $(document).ready(function () {
        $.ajax({
            url: "/AppliedFor/ViewedProfile/"+$('#ApplyId').text(),
            type:"Post",
            success: function(data){
                if(data.success){
                    toastr.success(data.message);

                }
                else{
                    toastr.error(data.message);
                }
            }

        });


    });


    function SortListed(id){
        $.ajax({
            url:"/AppliedFor/SortListed/"+id,
            type:"Post",
            success: function(data){
                if(data.success){
                    toastr.success(data.message);
                }
                else{
                    toastr.error(data.message);
                }
            }
        });
    };

</script>
    }