@model SearchIt.Models.Postings

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Postings</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinExp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinExp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalVacancies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalVacancies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostMinSal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostMinSal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostMaxSal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostMaxSal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostLike)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostLike)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostDisLike)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostDisLike)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.CompName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfJob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfJob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
