@using SearchIt.Utility
@model IEnumerable<ApplyFor>
@{
    ViewData["Title"] = "Applied Status";
}

<div class="container">
    <div class="text-center mb-5">
        <h3>Jobs Applied To</h3>
        <p class="lead">Postings Applied To</p>
    </div>

    @foreach (ApplyFor Post in @Model)
    {
        <div class="card mb-3">
            <div class="card-body">
                <div class="d-flex flex-column flex-lg-row">
                    <span class="avatar avatar-text rounded-3 me-4 bg-warning mb-2">@Post.Postings.PostName.Substring(0,1)</span>
                    <div class="row flex-fill">
                        <div class="col-sm-5">
                            <a asp-controller="Postings" asp-action="PostDetails" asp-route-id="@Post.PostId" style="text-decoration:none;color:black;" ><h5 class="h5" >@Post.Postings.PostName</h5> </a>
                            <span class="badge bg-secondary">@Post.Postings.State</span> <span class="badge bg-success">@Post.Postings.PostMinSal.ToString("c") - @Post.Postings.PostMaxSal.ToString("c")</span>
                            <span class="badge bg-info">@Post.Postings.TypeOfJob</span>
                        </div>
                        @*<div class="col-sm-4 py-2">
                            <span class="badge bg-secondary">GOLANG</span>
                            <span class="badge bg-secondary">SENIOR</span>
                            <span class="badge bg-secondary">ENGINEER</span>
                            <span class="badge bg-secondary">BACKEND</span>
                            </div>*@
                        <div class="col-sm-3 text-lg-end">
                            @*<a href="#" class="btn btn-primary stretched-link">Apply</a>*@
                            <table style="border-collapse: separate;border-spacing: 50px 0;">
                                <thead>
                                    <tr>
                                        @if (Post.ApplyStatus == Utility.App_Rejected)
                                        {
                                            <th style="text-align:center"><i class="fa fa-check-circle fa-6" aria-hidden="true"></i></th>
                                            <th style="text-align:center"><i class="fa fa-file-pdf-o fa-6" aria-hidden="true"></i></th>
                                            <th style="text-align:center"> <i class="fa fa-list-alt fa-6" aria-hidden="true"></i>  </th>
                                            <th style="text-align:center"> <i class="fa fa-briefcase fa-6" aria-hidden="true"></i>  </th>
                                            <th style="text-align:center"><i class="fa fa-check-circle fa-6" aria-hidden="true"></i>  </th>
                                            <th style="text-align:center"> <i class="fa fa-times fa-6" aria-hidden="true" style="color:red"></i>  </th>


                                        }

                                        else if (Post.ApplyStatus == Utility.App_JobOffer || Post.ApplyStatus == Utility.App_JobAccept)
                                        {
                                            <th style="text-align:center"><i class="fa fa-check-circle fa-6" aria-hidden="true" style="color:green"></i></th>
                                            <th style="text-align:center"><i class="fa fa-file-pdf-o fa-6" aria-hidden="true" style="color:green"></i></th>
                                            <th style="text-align:center"> <i class="fa fa-list-alt fa-6" aria-hidden="true" style="color:green"></i>  </th>
                                            <th style="text-align:center"> <i class="fa fa-briefcase fa-6" aria-hidden="true" style="color:green"></i>  </th>
                                            if (Post.ApplyStatus == Utility.App_JobAccept)
                                            {
                                                <th style="text-align:center"><i class="fa fa-check-circle fa-6" aria-hidden="true" style="color:green"></i>  </th>

                                            }
                                            <th style="text-align:center"> <i class="fa fa-times fa-6" aria-hidden="true"></i>  </th>



                                        }
                                        else if (Post.ApplyStatus == Utility.App_SortListed)
                                        {
                                            <th style="text-align:center"><i class="fa fa-check-circle fa-6" aria-hidden="true" style="color:green"></i></th>
                                            <th style="text-align:center"><i class="fa fa-file-pdf-o fa-6" aria-hidden="true" style="color:green"></i></th>
                                            <th style="text-align:center"> <i class="fa fa-list-alt fa-6" aria-hidden="true" style="color:green"></i>  </th>
                                            <th style="text-align:center"> <i class="fa fa-briefcase fa-6" aria-hidden="true"></i>  </th>
                                            <th style="text-align:center"><i class="fa fa-check-circle fa-6" aria-hidden="true"></i>  </th>
                                            <th style="text-align:center"> <i class="fa fa-times fa-6" aria-hidden="true"></i>  </th>

                                        }
                                        else if (Post.ApplyStatus == Utility.App_Viewed)
                                        {
                                            <th style="text-align:center"><i class="fa fa-check-circle fa-6" aria-hidden="true" style="color:green"></i></th>
                                            <th style="text-align:center"><i class="fa fa-file-pdf-o fa-6" aria-hidden="true" style="color:green"></i></th>
                                            <th style="text-align:center"> <i class="fa fa-list-alt fa-6" aria-hidden="true"></i>  </th>
                                            <th style="text-align:center"> <i class="fa fa-briefcase fa-6" aria-hidden="true"></i>  </th>
                                            <th style="text-align:center"><i class="fa fa-check-circle fa-6" aria-hidden="true"></i>  </th>
                                            <th style="text-align:center"> <i class="fa fa-times fa-6" aria-hidden="true"></i>  </th>

                                        }
                                        else
                                        {
                                            <th style="text-align:center"><i class="fa fa-check-circle fa-6" aria-hidden="true" style="color:green"></i></th>
                                            <th style="text-align:center"><i class="fa fa-file-pdf-o fa-6" aria-hidden="true"></i></th>
                                            <th style="text-align:center"> <i class="fa fa-list-alt fa-6" aria-hidden="true"></i>  </th>
                                            <th style="text-align:center"> <i class="fa fa-briefcase fa-6" aria-hidden="true"></i>  </th>
                                            <th style="text-align:center"><i class="fa fa-check-circle fa-6" aria-hidden="true"></i>  </th>
                                            <th style="text-align:center"> <i class="fa fa-times fa-6" aria-hidden="true"></i>  </th>

                                        }



                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        @if (Post.ApplyStatus == Utility.App_Rejected)
                                        {
                                            <td style="text-align:center">Applied</td>
                                            <td style="text-align:center">Viewed</td>
                                            <td style="text-align:center">Sort Listed</td>
                                            <td style="text-align:center">Job Offer</td>
                                            <td style="text-align:center">Accepted</td>
                                            <td style="text-align:center;color:red">Rejected</td>

                                        }
                                        else if (Post.ApplyStatus == Utility.App_JobOffer)
                                        {
                                            <td style="text-align:center;color:green">Applied</td>
                                            <td style="text-align:center;color:green">Viewed</td>
                                            <td style="text-align:center;color:green">Sort Listed</td>
                                            <td style="text-align:center;color:green">Job Offer</td>

                                            if (Post.ApplyStatus == Utility.App_JobAccept)
                                            {
                                                <td style="text-align:center;color:green">Accepted</td>

                                            }
                                            <td style="text-align:center">Accepted</td>
                                            <td style="text-align:center">Rejected</td>

                                        }
                                        else if (Post.ApplyStatus == Utility.App_SortListed)
                                        {
                                            <td style="text-align:center;color:green">Applied</td>
                                            <td style="text-align:center;color:green">Viewed</td>
                                            <td style="text-align:center;color:green">Sort Listed</td>
                                            <td style="text-align:center">Job Offer</td>
                                            <td style="text-align:center">Accepted</td>
                                            <td style="text-align:center">Rejected</td>

                                        }
                                        else if (Post.ApplyStatus == Utility.App_Viewed)
                                        {
                                            <td style="text-align:center;color:green">Applied</td>
                                            <td style="text-align:center;color:green">Viewed</td>
                                            <td style="text-align:center">Sort Listed</td>
                                            <td style="text-align:center">Job Offer</td>
                                            <td style="text-align:center">Accepted</td>
                                            <td style="text-align:center">Rejected</td>

                                        }
                                        else
                                        {
                                            <td style="text-align:center;color:green">Applied</td>
                                            <td style="text-align:center">Viewed</td>
                                            <td style="text-align:center">Sort Listed</td>
                                            <td style="text-align:center">Job Offer</td>
                                            <td style="text-align:center">Accepted</td>
                                            <td style="text-align:center">Rejected</td>

                                        }



                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @* <div class="card mb-3">
        <div class="card-body">
        <div class="d-flex flex-column flex-lg-row">
        <span class="avatar avatar-text cust-rounded-3 cust-me-4 bg-info cust-mb-2">PM</span>
        <div class="row flex-fill">
        <div class="col-sm-5">
        <h4 class="h5">Director of Product Marketing</h4>
        <span class="badge bg-secondary">WORLDWIDE</span> <span class="badge bg-success">$150K - $210K</span>
        </div>
        <div class="col-sm-4 py-2">
        <span class="badge bg-secondary">PRODUCT MARKETING</span>
        <span class="badge bg-secondary">MARKETING</span>
        <span class="badge bg-secondary">EXECUTIVE</span>
        <span class="badge bg-secondary">ECOMMERCE</span>
        </div>
        <div class="col-sm-3 text-lg-end">
        <a href="#" class="btn btn-primary stretched-link">Apply</a>
        </div>
        </div>
        </div>
        </div>
        </div>*@
</div>

